html, body {
  margin: 0;
  padding: 0;
  font-family: "system-ui";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2f2f2f;
}

#canvas {
    position: relative;
    width: 90%;
    max-width: 600px;
    height: 90vw;
    max-height: 600px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 20px black;
}

p {
    font-size: 80%;
    padding: 0;
    margin: 0;
    color: whitesmoke;
    background-color: trboparent;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.caption-top-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.caption-bot-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}