
.variations {
    background-color: #2f2f2f;
    max-width: 320px;
    height: 50px;
    margin: 16px auto;
    border-radius: 2px;
    font-size: 16px;
    overflow: hidden;
    position: relative;
}

.variations span{
    cursor: pointer;
    color: #E8E9F3;
    border-radius: 2px;
    pointer-events: auto;
}

.variations ul {
    display: flex;
    gap: 16px;
    padding: 12px 24px;
    margin: 0;
    list-style-type: none;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.variations ul.dragging {
    scroll-behavior: auto;
}

.variations ul::-webkit-scrollbar {
    display: none;
}

.variations a {
    text-decoration: none;
    background-color: #464646;
    padding: 4px 24px;
    display: inline-block;
    border-radius: 2px;
    user-select: none;
    white-space: nowrap;
}

.variations a.active {
    background-color: #E8E9F3;
    color: #2f2f2f;
}

.variations .right-arrow,
.variations .left-arrow {
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0;
    align-items: center;
    padding: 0 10px;
    display: none;
    pointer-events: none;
}

.variations .right-arrow.active,
.variations .left-arrow.active {
    display: flex;
}

.variations .right-arrow {
    right: 0;
    background-image: linear-gradient(to left, #2f2f2f 20%, transparent);
    justify-content: flex-end;
}

.variations .left-arrow {
    background-image: linear-gradient(to right, #2f2f2f 20%, transparent);
}

.variations span:hover {
    background-color: #505050;
}

@media only screen and (width >= 600px) {
    /* For tablets: */

}

@media only screen and (width >= 768px) {
    /* For desktops: */
    .variations {
        max-width: 470px;
    }
}